/* Post.css */

.post-title {
  align-self: left;
}

.avatar-container {
  margin-top: 4px;
  margin-bottom: 4px;
}

.post-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.avatar-info-container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.ant-list-item-meta-title {
  text-align: left;
}

.ant-list-item-meta-description {
  text-align: left;
}

.post-map {
  margin-bottom: 10px;
}

.post-noreply {
  margin-top: 10px;
}

.post-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

